In [1]:
import pandas as pd

# Load the CSV data
df = pd.read_csv("D:/Car price prediction/bang_car_merged_dataset1.csv")

In [2]:
# Drop multiple columns
df = df.drop(columns=['priceActual','Registration Year', 'it','priceSaving','priceFixedText','owner','Engine','Ownership','Seats.1','transmission','km','Fuel Type','Year of Manufacture'])

In [3]:
df.isnull().sum()

ft                                 0
bt                                 0
ownerNo                            0
oem                                0
model                              0
modelYear                          0
centralVariantId                   0
variantName                        0
price                              0
trendingText                       0
Insurance Validity                 3
Seats                              1
Kms Driven                         0
RTO                              168
Engine Displacement                3
Transmission                       0
Comfort & Convenience              0
Interior                           0
Exterior                           0
Safety                             0
Entertainment & Communication      0
Mileage                           42
Max Power                         16
Torque                            16
Wheel Size                       452
dtype: int64

In [4]:
mode_value = df['Insurance Validity'].mode()[0]
df['Insurance Validity'].fillna(mode_value, inplace=True)

C:\Users\yashw\AppData\Local\Temp\ipykernel_96204\1222625250.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Insurance Validity'].fillna(mode_value, inplace=True)

In [5]:
mode_value = df['Seats'].mode()[0]
# Fill missing values in 'Seats' with the mode
df['Seats'].fillna(mode_value, inplace=True)

C:\Users\yashw\AppData\Local\Temp\ipykernel_96204\738788701.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Seats'].fillna(mode_value, inplace=True)

In [6]:
df['RTO'].fillna('Unknown', inplace=True)

C:\Users\yashw\AppData\Local\Temp\ipykernel_96204\389677397.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['RTO'].fillna('Unknown', inplace=True)

In [7]:
# Calculate the mode of the 'Engine Displacement' column
mode_value = df['Engine Displacement'].mode()[0]
# Fill missing values in 'Engine Displacement' with the mode
df['Engine Displacement'].fillna(mode_value, inplace=True)

C:\Users\yashw\AppData\Local\Temp\ipykernel_96204\1258263944.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Engine Displacement'].fillna(mode_value, inplace=True)

In [8]:
df['Mileage'] = pd.to_numeric(df['Mileage'].str.replace(' kmpl', '').str.replace(' km', '').str.strip(), errors='coerce').fillna(0)

In [9]:
df['Max Power'] = pd.to_numeric(df['Max Power'].str.replace('bhp', '').str.strip(), errors='coerce')
df['Torque'] = pd.to_numeric(df['Torque'].str.replace('Nm', '').str.strip(), errors='coerce')
# Fill NaN values in 'Max Power' and 'Torque' with their respective means
df['Max Power'].fillna(df['Max Power'].mean(), inplace=True)
df['Torque'].fillna(df['Torque'].mean(), inplace=True)

C:\Users\yashw\AppData\Local\Temp\ipykernel_96204\2161950368.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Max Power'].fillna(df['Max Power'].mean(), inplace=True)
C:\Users\yashw\AppData\Local\Temp\ipykernel_96204\2161950368.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Torque'].fillna(df['Torque'].mean(), inplace=True)

In [10]:
df['Wheel Size'] = pd.to_numeric(df['Wheel Size'], errors='coerce')
mode_value = df['Wheel Size'].mode()[0]
# Fill NaN values in 'Wheel Size' with the mode
df['Wheel Size'].fillna(mode_value, inplace=True)

C:\Users\yashw\AppData\Local\Temp\ipykernel_96204\1812922504.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Wheel Size'].fillna(mode_value, inplace=True)

In [11]:
df['Kms Driven'] = df['Kms Driven'].str.replace(' Kms', '').str.replace(' km', '').str.replace(',', '').astype(int)

In [12]:
# Ensure 'Seats' is treated as a string
df['Seats'] = df['Seats'].astype(str)
# Clean the 'Seats' column by removing the word 'Seats'
df['Seats'] = df['Seats'].str.replace(' Seats', '', regex=False)
# Convert to int, filling NaN values with 0 before conversion
df['Seats'] = pd.to_numeric(df['Seats'], errors='coerce').fillna(0).astype(int)

In [13]:
# Clean the 'Engine' column by removing the 'cc' suffix
df['Engine Displacement'] = df['Engine Displacement'].str.replace(' cc', '', regex=False)
# Convert to numeric if needed
df['Engine Displacement'] = pd.to_numeric(df['Engine Displacement'], errors='coerce')

In [14]:
# Cleaning the 'price' column
df['price'] = df['price'].replace(
  {'â‚¹ ': '', ',': '', ' Lakh': '*100000', ' Crore': '*10000000'}, regex=True)
# Evaluate the string expressions to convert to numeric
df['price'] = df['price'].apply(lambda x: eval(x))
# Convert to float
df['price'] = df['price'].astype(int)

In [15]:
# List of columns you want to convert to lowercase
a = ['ft', 'bt', 'oem','model','variantName','Insurance Validity','RTO','Transmission'] 
# Convert each specified column to lowercase
for i in a:
    df[i] = df[i].astype(str).str.lower()

In [16]:
df['price'] = df['price'].astype(object)
df['Engine Displacement'] = df['Engine Displacement'].astype(object)

In [17]:
import pandas as pd

#fill with city name
df['city'] = 'Bangalore'

# Display the updated DataFrame
print(df)

          ft         bt  ownerNo      oem               model  modelYear  \
0     petrol  hatchback        3   maruti      maruti celerio       2015
1     petrol        suv        2     ford       ford ecosport       2018
2     petrol  hatchback        1     tata          tata tiago       2018
3     petrol      sedan        1  hyundai       hyundai xcent       2014
4     diesel        suv        1   maruti  maruti sx4 s cross       2015
...      ...        ...      ...      ...                 ...        ...
1476  diesel        suv        2   toyota     toyota fortuner       2012
1477  petrol      sedan        2   maruti          maruti sx4       2008
1478  petrol  hatchback        2    honda          honda brio       2014
1479  diesel  hatchback        1  hyundai         hyundai i20       2018
1480  petrol  hatchback        2  hyundai   hyundai grand i10       2017

      centralVariantId               variantName    price  \
0                 3979                       vxi   400000
1                 6087  1.5 petrol titanium bsiv   811000
2                 2983           1.2 revotron xz   585000
3                 1867        1.2 kappa s option   462000
4                 4277             ddis 200 zeta   790000
...                ...                       ...      ...
1476              2253                    4x4 mt  1648999
1477              4257                 zxi bsiii   330000
1478              1188                      s mt   425000
1479              5695        1.4 asta dual tone   750000
1480              1523            asta option at   675000

                                           trendingText  ...  \
0     {'imgUrl': 'https://stimg.cardekho.com/used-ca...  ...
1     {'imgUrl': 'https://stimg.cardekho.com/used-ca...  ...
2     {'imgUrl': 'https://stimg.cardekho.com/used-ca...  ...
3     {'imgUrl': 'https://stimg.cardekho.com/used-ca...  ...
4     {'imgUrl': 'https://stimg.cardekho.com/used-ca...  ...
...                                                 ...  ...
1476  {'imgUrl': 'https://stimg.cardekho.com/used-ca...  ...
1477  {'imgUrl': 'https://stimg.cardekho.com/used-ca...  ...
1478  {'imgUrl': 'https://stimg.cardekho.com/used-ca...  ...
1479  {'imgUrl': 'https://stimg.cardekho.com/used-ca...  ...
1480  {'imgUrl': 'https://stimg.cardekho.com/used-ca...  ...

     Comfort & Convenience  Interior  Exterior Safety  \
0                       10         7         5     13
1                       17        12        12     27
2                       14        12        13     24
3                       16        10        10     18
4                       21        11        13     22
...                    ...       ...       ...    ...
1476                    19        11        12     26
1477                    16        12         6     19
1478                    12        10         6     16
1479                    19        11        11     26
1480                    15        11        14     20

     Entertainment & Communication Mileage  Max Power  Torque  Wheel Size  \
0                                0   23.10      67.04   90.00        16.0
1                                9   17.00     121.31  150.00        16.0
2                                8   23.84      84.00  114.00        14.0
3                                7   19.10      81.86  113.75        14.0
4                                8   23.65      88.50  200.00        16.0
...                            ...     ...        ...     ...         ...
1476                            10   12.55     168.50  343.00        17.0
1477                             5   15.00     104.68  145.00        16.0
1478                             5   19.40      86.80  109.00        16.0
1479                             9   22.54      88.73  219.70        16.0
1480                             7   18.90      82.00  114.00        14.0

           city
0     Bangalore
1     Bangalore
2     Bangalore
3     Bangalore
4     Bangalore
...         ...
1476  Bangalore
1477  Bangalore
1478  Bangalore
1479  Bangalore
1480  Bangalore

[1481 rows x 26 columns]

In [18]:
# Save the cleaned DataFrame as a CSV file
df.to_csv('cleaned_bang_car.csv', index=False)

In [19]:
df.dtypes

ft                                object
bt                                object
ownerNo                            int64
oem                               object
model                             object
modelYear                          int64
centralVariantId                   int64
variantName                       object
price                             object
trendingText                      object
Insurance Validity                object
Seats                              int32
Kms Driven                         int32
RTO                               object
Engine Displacement               object
Transmission                      object
Comfort & Convenience              int64
Interior                           int64
Exterior                           int64
Safety                             int64
Entertainment & Communication      int64
Mileage                          float64
Max Power                        float64
Torque                           float64
Wheel Size                       float64
city                              object
dtype: object