In [1]:
import pandas as pd

# Load the CSV data
df = pd.read_csv("D:/Car price prediction/jai_car_merged_dataset1.csv")

In [2]:
# Drop multiple columns
df = df.drop(columns=['priceActual','Registration Year', 'it','priceSaving','priceFixedText','owner','Engine','Ownership','Seats.1','transmission','km','Fuel Type','Year of Manufacture'])

In [3]:
df.isnull().sum()

ft                                 0
bt                                 0
ownerNo                            0
oem                                0
model                              0
modelYear                          0
centralVariantId                   0
variantName                        0
price                              0
trendingText                       0
Insurance Validity                 0
Seats                              1
Kms Driven                         1
RTO                              170
Engine Displacement                0
Transmission                       0
Comfort & Convenience              0
Interior                           0
Exterior                           0
Safety                             0
Entertainment & Communication      0
Mileage                           28
Max Power                          9
Torque                             9
Wheel Size                       429
dtype: int64

In [4]:
df['Seats'] = pd.to_numeric(df['Seats'].str.replace('Seats', '').str.strip(), errors='coerce').fillna(0).astype(int)

In [5]:
# Remove ' Kms', ' km', and commas from the 'Kms Driven' column
df['Kms Driven'] = df['Kms Driven'].str.replace(' Kms', '').str.replace(' km', '').str.replace(',', '')

# Convert the column to numeric, allowing for NaN values
df['Kms Driven'] = pd.to_numeric(df['Kms Driven'], errors='coerce')

# Fill NaN values with 0 (or any other value you prefer)
df['Kms Driven'].fillna(0, inplace=True)

# Convert the column to integers
df['Kms Driven'] = df['Kms Driven'].astype(int)

C:\Users\yashw\AppData\Local\Temp\ipykernel_91208\2335273070.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Kms Driven'].fillna(0, inplace=True)

In [6]:
df['RTO'].fillna('Unknown', inplace=True)

C:\Users\yashw\AppData\Local\Temp\ipykernel_91208\389677397.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['RTO'].fillna('Unknown', inplace=True)

In [7]:
df['Mileage'] = pd.to_numeric(df['Mileage'].str.replace(' kmpl', '').str.replace(' km', '').str.strip(), errors='coerce').fillna(0)

In [8]:
df['Max Power'] = pd.to_numeric(df['Max Power'].str.replace('bhp', '').str.strip(), errors='coerce')
df['Torque'] = pd.to_numeric(df['Torque'].str.replace('Nm', '').str.strip(), errors='coerce')
# Fill NaN values in 'Max Power' and 'Torque' with their respective means
df['Max Power'].fillna(df['Max Power'].mean(), inplace=True)
df['Torque'].fillna(df['Torque'].mean(), inplace=True)

C:\Users\yashw\AppData\Local\Temp\ipykernel_91208\2161950368.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Max Power'].fillna(df['Max Power'].mean(), inplace=True)
C:\Users\yashw\AppData\Local\Temp\ipykernel_91208\2161950368.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Torque'].fillna(df['Torque'].mean(), inplace=True)

In [9]:
df['Wheel Size'] = pd.to_numeric(df['Wheel Size'], errors='coerce')
mode_value1 = df['Wheel Size'].mode()[0]
# Fill NaN values in 'Wheel Size' with the mode
df['Wheel Size'].fillna(mode_value1, inplace=True)

C:\Users\yashw\AppData\Local\Temp\ipykernel_91208\2178333416.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Wheel Size'].fillna(mode_value1, inplace=True)

In [10]:
df['Kms Driven'] = df['Kms Driven'].astype(str)
# Clean the 'Kms Driven' column by removing ' Kms', ' km', and commas
df['Kms Driven'] = df['Kms Driven'].str.replace(' Kms', '').str.replace(' km', '').str.replace(',', '').astype(int)

In [11]:
# Ensure 'Seats' is treated as a string
df['Seats'] = df['Seats'].astype(str)
# Clean the 'Seats' column by removing the word 'Seats'
df['Seats'] = df['Seats'].str.replace(' Seats', '', regex=False)
# Convert to int, filling NaN values with 0 before conversion
df['Seats'] = pd.to_numeric(df['Seats'], errors='coerce').fillna(0).astype(int)

In [12]:
# Clean the 'Engine' column by removing the 'cc' suffix
df['Engine Displacement'] = df['Engine Displacement'].str.replace(' cc', '', regex=False)
# Convert to numeric if needed
df['Engine Displacement'] = pd.to_numeric(df['Engine Displacement'], errors='coerce')

In [13]:
# List of columns you want to convert to lowercase
a = ['ft', 'bt', 'oem','model','variantName','Insurance Validity','RTO','Transmission'] 
# Convert each specified column to lowercase
for i in a:
    df[i] = df[i].astype(str).str.lower()

In [14]:
# Cleaning the 'price' column
df['price'] = df['price'].replace(
  {'â‚¹ ': '', ',': '', ' Lakh': '*100000', ' Crore': '*10000000'}, regex=True)
# Evaluate the string expressions to convert to numeric
df['price'] = df['price'].apply(lambda x: eval(x))
# Convert to float
df['price'] = df['price'].astype(int)

In [15]:
import pandas as pd

#fill with city name
df['city'] = 'Jaipur'

# Display the updated DataFrame
print(df)

          ft         bt  ownerNo        oem              model  modelYear  \
0     diesel  hatchback        2    hyundai        hyundai i20       2015
1     petrol  hatchback        1     maruti       maruti swift       2012
2     petrol  hatchback        2     maruti     maruti celerio       2016
3     petrol  hatchback        1    hyundai  hyundai grand i10       2017
4     petrol  hatchback        1     maruti     maruti wagon r       2016
...      ...        ...      ...        ...                ...        ...
1115  petrol  hatchback        1  chevrolet     chevrolet beat       2011
1116  petrol  hatchback        1     maruti        maruti alto       2007
1117  petrol        suv        1    renault      renault kiger       2022
1118  petrol  hatchback        1     maruti        maruti alto       2009
1119  petrol  hatchback        1     maruti      maruti baleno       2018

      centralVariantId           variantName   price  \
0                 1487         asta 1.4 crdi  509999
1                10403                   vxi  381000
2                 3982                vxi at  320000
3                 5602  1.2 kappa magna bsiv  420000
4                 4319               amt vxi  350000
...                ...                   ...     ...
1115               438                    lt  108000
1116              3917                   std  105000
1117              8350                   rxz  850000
1118              3904                   std  100000
1119              3962             1.2 delta  500000

                                           trendingText  ...  \
0     {'imgUrl': 'https://stimg.cardekho.com/used-ca...  ...
1     {'imgUrl': 'https://stimg.cardekho.com/used-ca...  ...
2     {'imgUrl': 'https://stimg.cardekho.com/used-ca...  ...
3     {'imgUrl': 'https://stimg.cardekho.com/used-ca...  ...
4     {'imgUrl': 'https://stimg.cardekho.com/used-ca...  ...
...                                                 ...  ...
1115  {'imgUrl': 'https://stimg.cardekho.com/used-ca...  ...
1116  {'imgUrl': 'https://stimg.cardekho.com/used-ca...  ...
1117  {'imgUrl': 'https://stimg.cardekho.com/used-ca...  ...
1118  {'imgUrl': 'https://stimg.cardekho.com/used-ca...  ...
1119  {'imgUrl': 'https://stimg.cardekho.com/used-ca...  ...

     Comfort & Convenience  Interior  Exterior Safety  \
0                       17        11        12     24
1                       11         7         7     26
2                       10         9         5     13
3                       13         8         8     23
4                       12        10        11     17
...                    ...       ...       ...    ...
1115                    11         8         8      9
1116                     1         2         1      5
1117                    17        11        15     25
1118                     1         2         1      5
1119                    11        10        12     24

      Entertainment & Communication Mileage  Max Power      Torque  \
0                                 7   22.54      88.73  219.700000
1                                 6   22.38      88.50  113.000000
2                                 0   23.10      67.04   90.000000
3                                 6   18.90      81.86  171.203692
4                                 7   20.51      67.00   90.000000
...                             ...     ...        ...         ...
1115                              4   18.60      79.40  108.000000
1116                              0   19.70      46.30   62.000000
1117                             12   19.17      71.01   96.000000
1118                              2   19.70      46.30   62.000000
1119                              8   21.40      83.10  115.000000

      Wheel Size    city
0           16.0  Jaipur
1           16.0  Jaipur
2           16.0  Jaipur
3           16.0  Jaipur
4           16.0  Jaipur
...          ...     ...
1115        14.0  Jaipur
1116        12.0  Jaipur
1117        16.0  Jaipur
1118        12.0  Jaipur
1119        16.0  Jaipur

[1120 rows x 26 columns]

In [16]:
df.dtypes

ft                                object
bt                                object
ownerNo                            int64
oem                               object
model                             object
modelYear                          int64
centralVariantId                   int64
variantName                       object
price                              int32
trendingText                      object
Insurance Validity                object
Seats                              int32
Kms Driven                         int32
RTO                               object
Engine Displacement                int64
Transmission                      object
Comfort & Convenience              int64
Interior                           int64
Exterior                           int64
Safety                             int64
Entertainment & Communication      int64
Mileage                          float64
Max Power                        float64
Torque                           float64
Wheel Size                       float64
city                              object
dtype: object

In [17]:
# Save the cleaned DataFrame as a CSV file
df.to_csv('cleaned_jai_car.csv', index=False)